.Box-principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    background-color: #181B19;
}

.bt a{
    color: #9AB165;
    text-decoration: none;
    margin: 30%;
}