.Box-principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, #1B2727, #3C5148, #6B8E4E, #b2c5b2, #D5DDDF);
    background-size: 500% ;
    animation: principal 3s infinite alternate;
}

@keyframes principal{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}

.ima img{
    width: 37vw;
    height: 75vh;
}


.S{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70vw;
    height: 75vh;
    background-color: #181B19;
    margin-top: 90px;
}

#BT{
    color: #8AA252;
    text-decoration: none;
    margin: 15px 0px 0px 10px;
}

.coisas{
    display: flex;
    flex-direction: column;
}

.Login{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 60px;
}


.coisas div input{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    width: 25vw;
    background-color: #403E3E;
}

   
.coisas button img{
    width: 10px;
}

.coisas h4{
    color: #8AA252;
    padding: 20px;
}

.apps a{
    margin: 15px;
}

.coisas a button{
    border: none;
    background-color: #9AB165;
    padding: 10px;
    width: 10vw;
    border-radius: 20px;
    margin-top: 35px;
}

