.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #181B19;
}

.coisas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.admin{
    display: flex;
    margin-right: 60px;
   color: #90A857; 
}

.coisas div input{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    text-align: center;
    width: 25vw;
    background-color: #403E3E;
}

.coisas a button{
    background-color: #6E8042;
}
