.pag-informacoes{
    display: flex;
    flex-direction: column;
    background-color: #181b19;

    .desisto{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 85.8vh;

        .Grafico{
           
        }
    }
}