.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #2f3531;



    .principal{
        display: flex;
        flex-direction: row;
        width: 70vw;
        height: 80vh;
        background-color: #181B19;
        border-radius: 10px;

        #uma{
            position: absolute;
            width: 23px;
            right: 1240px;
            bottom: 630px;

        }


        #um{
            width: 35vw;
            height: 80vh;
            border-radius: 10px;
        }

        .bt{
            display: flex;
            
            a{
                text-decoration: none;
                color: #A2D65D;
                margin: 10px 10px 0px 10px;
            }
            
            
        }
        
        .coisas{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center ;


            #in{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                div{
                    margin-left: 30px;
                }
                input{
                    background-color: #403E3E;
                    border-radius: 5px;
                    border: none;
                    margin: 9px;
                    width: 260px;
                    height: 24px;
                    text-align: center;
                }
            }   

            
            button img{
                width: 13px;
            }
            
            
            h4{
                padding: 30px;
                font-size: 20px;
                color: #90A955;
            }

            
            .apps a {
                margin: 10px;
            }
            
            .apps a img:hover{
                transform: scale(1.3);
                transition: .5s;
            }

            
            a button{
                border-radius: 23px;
                border: 0px;
                background-color: #6E8142;
                padding: 13px 43px;
            
                font-size: 20px;
                margin-top: 40px;
            }
            
            a button:hover{
                transform: scale(1.1);
                transition: .3s;
            }
    
        }
    }
}




