.cadP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #1b1819;

        .put{
            display: flex;
            flex-direction: row;

            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                input{
                    margin: 30px;
                    background-color: #403E3E;
                    border: none;
                    border-radius: 5px; 
                    width: 300px;
                    height: 24px;  
                }

                #dois{
                    display: flex;
                    flex-direction: row;
                    width: 50px;
                    height: 30px;
                }
            }

            .upload{
                border-radius: 10px;
                background-color: #ffff;
                width: 500px;

                img{
                    width: 150px;
                }
            }
        }
   
}