*{
  margin: 0px;
  box-sizing: border-box;
}


.pages{
  color: #181B19;
  
  min-height: 100vh;
  min-width: 1280px;


  .input{
    background-color: #403E3E;
    border: none;
    border-radius: 5px;
    padding: 3px;
  }

  .button{
    color: #6E8142;
    border-radius: 20px;
    border: none;
    padding: 3px 5px;
  }

  .a{
    text-decoration: none;
  }
}

